$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

#main-wrap{
  display: flex;
  width:90%;
  margin: auto;
  justify-content: center;
}
#main-wrap video{
  width:inherit;
  height: auto;
}
