$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

#main-wrap{
  display: flex;
  width:90%;
  margin: auto;
  left:5%;
  right:5%;
  justify-content: center;
}

#main-wrap div{
  width:100%;
  height: auto;
  position: absolute;
  left:5%;
  right:5%;
}

#main-wrap video{
  width:100%;
  height: auto;
  position: absolute;

}

#main-wrap canvas{
  position: absolute;
  pointer-events: none;
}
