@import "~bootstrap/scss/bootstrap";


:root {
  --youtube-red: #FE0900;
  --ui-gray: gray;
  --video-height:500px;
  --top-margin:50px;
  --sidbar-width:20%;
}


body {
  height: 100%;   
 // overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  //display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  height: 100%;

  h2{
    color: var(--ui-gray);
  }
}

#container{
  margin-top:50px;
 overflow-y: hidden;
 height: calc(100vh - 60px);
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  //grid-gap: 60px 20px;
  position:fixed;
  grid-template-areas: "side1 main side2";
}

#top-bar{
  border-bottom: 1px solid #E8E8E8;
  color: var(--ui-gray);
  background: #fff;
  padding: 10px;
  box-shadow: 1px 2px 3px #ccc;
  z-index: 5000;
  width:100%;
  //grid-area: head;
  position:fixed;
  top:0;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  height:50px;
  justify-items: center;
}

.user-wrap a:hover svg path{
  fill: blue;
}

#annotation-sidebar{
  text-align: center;
  z-index: 30;
  padding: 1rem 0 0 0;
  grid-area: side1;
  height:calc(100%-60px);
  overflow-y: auto;
  min-width: 50px !important;
 
 }

 #comment-sidebar{
  overflow-y: scroll;  /*adds scroll to this container*/
  grid-area: side2;
  height:calc(100%-60px);
}

#main-wrap{
  overflow-y: hidden;  /*adds scroll to this container*/
  height:calc(100%-60px);
  grid-area: main;
  grid-template-columns: 20px 3fr 20px;
  grid-template-areas: "space1 vid space2";
  display:grid;
 }

#annotation-wrap{
  grid-area: vid;
}

.dropdown.ann-type-drop{
  display: flex;
  flex-basis: 80%;
}

#time-update{
  text-align: center;
  width:100%;
}

#annotation-ui{
  position:absolute;
  top:65px;
  right:20px;
  height: 400px;
  width:300px;
  background-color: aqua;
  border-radius: 3px;
}

.add-comment{
  //float:right;
  padding-top:3px;
  text-align: center;
  //width:20%;
  display: inline;
  flex: 1 0 auto;
 // align-self: flex-end;
  align-items: flex-end;

  
}

.user-wrap{
  //text-align: center;
  padding:8px 30px;
  //width:40%;
  display:inline-block;
  flex: 1 0 auto;
  align-self: start;
  //background-color: var(--ui-gray);
}

.show-comments{
  display:inline-block;
  flex: 1 0 auto;
  align-self: center;
}

.togg-wrap{
 margin: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #737373;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 12px;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.dropdown-content.show {display:block;}

button.btn.dropbtn.dropdown-toggle {
  //display:inline-block;
  padding:0.5em 2em !important;
  border:0.16em solid #737373 !important;
  margin:0.3em 0.3em 0.3em 0.3em !important;
  box-sizing: border-box !important;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  font-size:13px;
  color:#737373;
  text-align:center;
  transition: all 0.15s;
}
.ann-type-drop button{
  width:100%;
}

.annotation-label{
  fill:black !important;
  font-size: 20px;
}

button.btn.dropbtn.dropdown-toggle:hover{
  窶ツolor:#DDDDDD !important;
  窶ッorder-color:#DDDDDD !important;
}

button.btn.dropbtn.dropdown-toggle:active{
  a.button2:active{
    窶ツolor:#BBBBBB;
    窶ッorder-color:#BBBBBB;
    }
}

/*firebase styling for sign in*/

#sign-in-container{
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.firebaseui-idp-list{
  list-style: none;
  // margin: 1em 0;
  padding: 0;
}

.firebaseui-idp-button {
  direction: ltr;
  font-weight: 500;
  height: auto;
  line-height: normal;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
}

.firebaseui-idp-icon-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.firebaseui-idp-google>.firebaseui-idp-text {
  color: #757575;
}

.firebaseui-idp-list>.firebaseui-list-item {
  margin-bottom: 15px;
  text-align: center;
}
.firebaseui-list-item {
  direction: ltr;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mdl-button {
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #000;
  // position: relative;
  height: 36px;
  // margin: 0;
  min-width: 250px;
  padding: 0 16px;
  display: inline-block;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  // line-height: 1;
  letter-spacing: 0;
  // overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  // line-height: 30px;
  // vertical-align: top;
  background: rgba(158,158,158,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-button img{
  height: 35px;
  width: auto;
  display: inline;
}

.mdl-button span{
  display: inline;
  // height: 36px;
  min-width: 64px;
  margin-bottom:10px;

}

.firebaseui-idp-text{
  margin-bottom:20px;
}

.firebaseui-idp-text.firebaseui-idp-text-short{
  display: none;
}

.firebaseui-idp-password{
  color: #fff;
}



/*TOGGLE*/
.btn-t{
    border: 3px solidvar(--ui-gray);
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease;
}

input[type="radio"].toggle {
    display: none;
    & + label{
        cursor: pointer;
        min-width: 60px;
        &:hover{
            background: none;
            color: #1a1a1a;
        }
        &:after{
            background:var(--ui-gray);
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }
    }
    &.toggle-left + label {
        border-right: 0;
        &:after{
            left: 100%
        }
    }
    &.toggle-right + label{
        margin-left: -5px;
        &:after{
            left: -100%;
        }
    }
    &:checked + label {
        cursor: default;
        color: #fff;
        transition: color 200ms;
        &:after{
            left: 0;
        }
    }
}

/**
VIDEO CONTROLS
**/

#video-wrap {
  grid-area: vid;
}

.block-wrap{
  width:100%;
  display:block;
}

#video-container{
  position: relative;
  background-color: red;
  width:100%;
  height:auto;

}

video, canvas, #interaction{
  border-radius: 4px;
  min-width: 700px;
  max-width: 1000px;
  position: absolute;
  width:100%;
  top:0;
  left:0;
}

#interaction.crosshair{
  cursor: crosshair !important;
}

#interaction img{
  width:100%;
  position: absolute;
  top:0;
  left:0;
}

.text-input{
  width:210px;
  height:150px;
  background: white;
  border-radius: 4px;
  position:relative;
  top:-10px;
  left:10px;
  padding: 7px;
  border: 2px solid gray;
  font-size: 12px;
}

.temp-text{
  font-size: 12px;
}

.template-wrap{
  display: flex;
  flex-basis: 100%;
  flex:1;
  justify-content: center;
  flex-direction: column;
  padding:10px;
}


.comment-initiated{
  min-width:210px;
  max-width:310px;
  min-height:70px;
  background: white;
  border-radius: 4px;
  position:relative;
  top:-10px;
  left:10px;
  padding: 7px;
  border: 2px solid gray;
  font-size: 12px;
}

.text-input textarea {
  width:190px;
  border-radius: 4px;
}

.text-input-sidebar{
  border-left: 1px solid gray;
  padding:5px;
}

.text-input-sidebar textarea{
  width:200px;
  border-radius: 4px;
}

.text-input-sidebar text{
  display:block;
}

.text-input #tags, .text-input-sidebar #tags{
  height:25px;
}



.memo{
 width:100%;
 min-height:50px;
 max-height:400px;
 border: 1px solid gray;
 padding:5px;
 cursor: pointer;
 padding-bottom:5px;
 margin-bottom:10px;
 border-radius: 7px;
}



.memo .tag-span{
  display:inline-block;
}

.memo .tag-span .badge{
  padding:5px;
  background-color: #E8E8E8;
  border: 3px solid white;
  color:gray;
  font-weight: 100;
}

.memo .reply-span, .memo .resolve-span{
  float:right;
  margin-left:10px;
  font-size: 12px;
}

.memo .comment{
  padding-bottom:5px;
}

.memo .post-time{
  font-size: 11px;
  color:gray;
  display: block;
  padding-bottom:10px;
}

.memo .upvote-text, .memo .downvote-text{
  font-size: 11px;
}

.memo button{
  float:right;
  margin-bottom:5px;
}

.reply-memo{
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  padding:5px;
  margin-top:10px;
}

span.name{
  font-size: 11px;
}
span.time{
  float:right;
  font-size: 13px;
}
span.comment{
  display:block;
  font-size: 11px;
  font-weight: 300;
  margin-bottom:10px;
}

#interaction svg.color-box{
  width:15px;
  height:15px;
}

#interaction{
  z-index:2000;
}

#main-wrap canvas{
  pointer-events: none;
  z-index: 2;
}

video{
  z-index: 1;
}

.video-controls {
  padding: 10px;
  transition: all 0.2s ease;
  grid-area: vid;
  //position: absolute;
  width:100%;
  position: relative;
 

}

.video-controls.hide {
  opacity: 0;
  pointer-events: none;
}

.video-progress {
  position: relative;
  height: 8.4px;
  margin-bottom: 10px;
}

.form-check{
  display:inline-block;
  width:200px;
}


#annotation-layer{
  position: relative;
  top: -10px;
  width:100%;
}

#annotation-layer svg, #interaction svg{
  //width:890px;
  width:100%;
}

#annotation-layer svg{
  height:100px;
}

#annotation-layer rect{
  // width:2px;
  height:10px;
  fill-opacity: .4;
}

#interaction svg{
  height: 100%;

}

#interaction svg.push, 
#interaction #push-div div.push, 
#push-div div.push svg{
  height:30px;
  width:30px;
}


div.push svg path{
  fill:red;
}


#interaction circle{
 // fill:red;
 stroke: gray;
  opacity:1;
}

#annotation-layer svg circle.memo{
  fill-opacity:.8;
  //stroke: 1px solid red;
}

#annotation-layer svg rect.memo.selected{
  //fill:white;
  fill-opacity:1;
  width:3px;
  height:11px;

}

#annotation-wrap div.memo.selected{
  background-color:#E5E8E8;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  width: 100%;
  height: 8.4px;
  pointer-events: none;
  position: absolute;
  top: 0;
}

progress::-webkit-progress-bar {
  background-color: #474545;
  border-radius: 2px;
}

progress::-webkit-progress-value {
  background: var(--youtube-red);
  border-radius: 2px;
}

progress::-moz-progress-bar {
  border: 1px solid var(--youtube-red);
  background: var(--youtube-red);
}

.seek {
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
  margin: 0;
}

.seek:hover+.seek-tooltip {
  display: block;
}

.seek-tooltip {
  display: none;
  position: absolute;
  top: -50px;
  margin-left: -20px;
  font-size: 12px;
  padding: 3px;
  content: attr(data-title);
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.bottom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-controls {
  display: flex;
  align-items: center;
  //color: #fff;
  color:black;
}

.volume-controls {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.volume-controls input {
  width: 100px;
  opacity: 1;
  transition: all 0.4s ease;
}

.volume-controls:hover input, .volume-controls input:focus {
  width: 100px;
  opacity: 1;
}

button {
  cursor: pointer;
  position: relative;
  margin-right: 7px;
  font-size: 12px;
  padding: 3px;
  border: none;
  outline: none;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

button::before {
  content: attr(data-title);
  position: absolute;
  display: none;
  right: 0;
  top: -50px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-weight: bold;
  padding: 4px 6px;
  word-break: keep-all;
  white-space: pre;
}

button:hover::before {
  display: inline-block;
}

.fullscreen-button {
  margin-right: 0;
}

.pip-button svg {
  width: 26px;
  height: 26px;
}

.playback-animation {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 8.4px;
  background: transparent;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  border-radius: 1.3px;
  -webkit-appearance: none;
  transition: all 0.4s ease;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: var(--youtube-red);
  cursor: pointer;
  -webkit-appearance: none;
  margin-left: -1px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type=range].volume {
  height: 5px;
  //background-color: #fff;
  background-color: black;
}

input[type=range].volume::-webkit-slider-runnable-track {
  background-color: transparent;
}

input[type=range].volume::-webkit-slider-thumb {
  margin-left: 0;
  height: 14px;
  width: 14px;
  //background: #fff;
  background:black;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 1.3px;
}

input[type=range]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 50px;
  border: 1px solid var(--youtube-red);
  background: var(--youtube-red);
  cursor: pointer;
  margin-top: 5px;
}

input[type=range]:focus::-moz-range-track {
  outline: none;
}

input[type=range].volume::-moz-range-thumb {
  border: 1px solid #fff;
  background: #fff;
}

.hidden {
  display: none;
}

svg {
  width: 28px;
  height: 28px;
  //fill: #fff;
  fill: black;
  // stroke: #fff;
  cursor: pointer;
}




#annotation-sidebar .anno-wrap{
    display:-webkit-box;
   // display:flex;
    -webkit-box-orient:vertical;
   // flex-direction:column;
   // height:100%;
    overflow-y: scroll;
}

#annotation-sidebar #control svg{
  width:65px;
  height:35px;
}


#annotation-sidebar .anno{
  border: 1px solid gray;
  border-radius: 5px;
  padding:15px;
  margin:15px;
  font-size: 12px;
}

#annotation-sidebar .anno .ref{
  display: block;
  color: gray;
  font-size: 12px;
  margin-top:10px;
  font-style: italic;
}


#annotation-sidebar .anno .link{
  display: block;
  
  font-size: 12px;
  margin-top:10px;

}

#pause-r path, #play-r path{
  width: 28px;
  height: 28px;
  fill: red;
  // stroke: #fff;
  cursor: pointer;
}

#time-wrap{
  display: flex;
  flex-direction: column;

}

#time-wrap #control{
  display: flex;
  align-content: center;
  justify-content: center;
}

////radio button starts here
.time-tabber, .media-tabber{
  align-self: center;
  justify-content: center;
  padding:20px;
}

#comment-submit-button{
  margin:20px;
}
/* The container */
.container {
  display: inline;
  position: relative;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.fa-bug{
  margin-left:30px !important;
  
}

.fa-bug path{
  fill:var(--ui-gray);
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 4.3px;
	left: 4.3px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

.tag-wrap{
  // border:1px solid gray;
  // border-radius: 3px;
  // position: relative;
  // top:32px;
  z-index: 100;
  padding:2px 2px 2px 2px;
  
}

.tag-wrap span{
  // border:1px solid gray;
  // border-radius: 3px;
 padding:5px;
 background-color: #E8E8E8;
 border: 3px solid white;
 color:gray;
 font-weight: 100;
 display:inline;
}

.tag-input-wrap{
    border:1px solid gray;
    border-radius: 3px;
    display:flex;
    padding:2px;
    min-width:300px;
    height:auto;
}

.tag-input-wrap input{
 box-sizing: content-box;
 height:30px;
 padding:0;
 border:0;
}

.tag-input-wrap input{
  font-size:11px;
 }


 .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: relative;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 30px;
  left:-220px;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


//////slider///

rect.overlay {
	stroke: black;
}

rect.selection {
	stroke: none;
  fill: steelblue;
  fill-opacity: 0.6;
}

#labelleft, #labelright {
	dominant-baseline: hanging;
  font-size: 12px;
}

#labelleft {
	text-anchor: end;
}

#labelright {
	text-anchor: start;
}

