$body-color: slateblue;

body {
  height: 100%;   
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
  font-family: sans-serif;
}
html {
  height: 100%;

  h2{
    color: gray;
  }
}

#main-wrap{
  width:80%;
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
}

#main-wrap video, #main-wrap iframe{
  width:90%;
  height: auto;
  position: absolute;
  left:20%;
}

#main-wrap canvas{
  position: absolute;
  left:20%;
  pointer-events: none;
}

#sidebar{
  width:20%;
  flex-shrink: 0;
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
  display:flex;
}

.user-wrap{
  margin:auto;
}

.button-wrap{
 margin: auto;
}

.column {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

/*firebase styling for sign in*/

#sign-in-container{
  box-sizing: border-box;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.firebaseui-idp-list{
  list-style: none;
  // margin: 1em 0;
  padding: 0;
}

.firebaseui-idp-button {
  direction: ltr;
  font-weight: 500;
  height: auto;
  line-height: normal;
  max-width: 220px;
  min-height: 40px;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
}

.firebaseui-idp-icon-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.firebaseui-idp-google>.firebaseui-idp-text {
  color: #757575;
}

.firebaseui-idp-list>.firebaseui-list-item {
  margin-bottom: 15px;
  text-align: center;
}
.firebaseui-list-item {
  direction: ltr;
  margin: 0;
  padding: 0;
  text-align: left;
}

.mdl-button {
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #000;
  // position: relative;
  height: 36px;
  // margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  // line-height: 1;
  letter-spacing: 0;
  // overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  // line-height: 30px;
  // vertical-align: top;
  background: rgba(158,158,158,.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-button img{
  height: 35px;
  width: auto;
  display: inline;
}

.mdl-button span{
  display: inline;
  // height: 36px;
  min-width: 64px;
  margin-bottom:10px;

}

.firebaseui-idp-text{
  margin-bottom:20px;
}

.firebaseui-idp-text.firebaseui-idp-text-short{
  display: none;
}

.firebaseui-idp-password{
  color: #fff;
}
